AIRFLOW__CORE__FERNET_KEY="GnXm9DVRNQuaMLrnJ-J0Yfw1SMM4IDZI9r0dQOb2tS0="

AIRFLOW__DATABASE__SQL_ALCHEMY_CONN="postgresql://postgres:password@localhost:5432/airflow"

# Environment variables for docker compose
#AIRFLOW_PORT_ON_DOCKER_HOST=8080
#POSTGRES_PORT_ON_DOCKER_HOST=5432

# Environment variables for DBT 
PGHOST=localhost
PGUSER=postgres
PGPASSWORD=password
PGDATABASE=airflow
PGPORT=5432